{% load static %}

<div class="kv-widget" {% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
    <table>
        <thead>
            <tr>
                <th>Ключ</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody id="kv-append">
            <tr id="current-kv-row">
                <td>
                    <input type="text" class="kv-inputs">
                </td>
                <td>
                    <input type="text" class="kv-inputs">
                </td>
            </tr>
        </tbody>
    </table>
    <script src="{% static 'js/widgets/table_keys.js' %}"></script>
</div>