{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>AJAXTESTING</h1>
        <div>
            {% if data_type == "pdf" %}
                {{tableHeader|safe}}
            {% elif data_type == "csv" %}
                <table id = 'csv-table'>
                    {{tableHeader|safe}}
                    <tbody id = 'table-rows'>
                        {% csrf_token %}
                    </tbody>
                </table>
                <button onclick="getLastRow()" id = 'renderMore'>More data</button>
                <script type="module" src="{% static 'js/sourceFile/callajax.js' %}"></script>
            {% else %}
                <h1>Unknown type of data!</h1>
            {% endif %}
        </div>
    </body>
</html>