#body-bg {
    background-color: #211722;
}

#sidebar {
    background-color: #362C37;
    height: 100vh;
    width: 190px;
}

#logo {
    background-color: #433947;
}

.frame-bg {
    background-color: #362C37;
}

.frame-bg-alt {
    background-color: #5B525F;
}

.frame-pill {
    border-radius: 2px;
}

.frame-b {
    border-color: #4C434D;
    border-width: 3px;
}

.main-text {
    font-size: 20pt;
    font-family: 'Ubuntu Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF !important;
}
 
.header-text {
    font-size: 28pt;
}

.align-center {
    text-align: center;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.btn-main {
    background-color: #4C434D;
    border-radius: 27px;
    height: 3.25rem;
}

.btn-danger {
    background-color: #e82351;
    border-radius: 27px;
    height: 3.25rem;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.z-top {
    z-index: 1000;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.transparent {
    opacity: 0.0;
}