<div class="container-fluid">
    <div class="row">
        <div class="col">
            <select name="model_name" class="my-2" id="model_name_selector">
                <option disabled selected value>---------</option>
                <option disabled class="mb-2">
                    <a>___ Оценка тональности ___</a>
                </option>
                <option value="j-hartmann/emotion-english-distilroberta-base">
                    <a href="https://huggingface.co/j-hartmann/emotion-english-distilroberta-base">
                        emotion-english-distilroberta-base
                    </a>
                </option>
                <option value="tabularisai/multilingual-sentiment-analysis">
                    <a href="https://huggingface.co/tabularisai/multilingual-sentiment-analysis">
                        multilingual-sentiment-analysis
                    </a>
                </option>
                <option value="bhadresh-savani/bert-base-go-emotion">
                    <a href="https://huggingface.co/bhadresh-savani/bert-base-go-emotion">
                        bert-base-go-emotion
                    </a>
                </option>
                <option disabled class="mb-2">
                    <a>___ Извлечение именованных сущностей ___</a>
                </option>
                <option value="Babelscape/wikineural-multilingual-ner">
                    <a href="https://huggingface.co/Babelscape/wikineural-multilingual-ner">
                        wikineural-multilingual-ner
                    </a>
                </option>
                <option value="51la5/roberta-large-NER">
                    <a href="https://huggingface.co/51la5/roberta-large-NER">
                        roberta-large-NER
                    </a>
                </option>
                <option value="dslim/distilbert-NER">
                    <a href="https://huggingface.co/dslim/distilbert-NER">
                        distilbert-NER
                    </a>
                </option>
                <option disabled class="mb-2">
                    <a>___ Поиск ключевых слов ___</a>
                </option>
                <option value="yanekyuk/camembert-keyword-extractor">
                    <a href="https://huggingface.co/yanekyuk/camembert-keyword-extractor">
                        camembert-keyword-extractor
                    </a>
                </option>
                <option value="yanekyuk/bert-uncased-keyword-extractor">
                    <a href="https://huggingface.co/yanekyuk/bert-uncased-keyword-extractor">
                        bert-uncased-keyword-extractor
                    </a>
                </option>
                <option value="ilsilfverskiold/bart-keyword-extractor">
                    <a href="https://huggingface.co/ilsilfverskiold/bart-keyword-extractor">
                        bart-keyword-extractor
                    </a>
                </option>
            </select>
        </div>
    </div>
</div>