{% load static %}
{% load widget_tweaks %}
{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
  <script type="module" src="{% static 'js/core/tag_search.js' %}"></script>
{% endblock %}

<div class="search-page">
  <h1 class="header-text">{{page}}</h1>
  <form class="container-fluid frame-bg frame-pill" id="search-form" method="get">
      <div class="container-fluid d-flex flex-column px-2 py-2">
          <div class="container-fluid d-flex pos-rel mt-3">
              {{ form.search_query }}
              <input type="submit" class="btn btn-main main-text" type="button">
          </div>
          <div class="d-flex bd-highlight select-tags-cont">
            <div class="me-auto bd-highlight pos-rel mt-3" id="search-tags">
              <button class="btn btn-main main-text tag-list-button" type="button" data-bs-toggle="collapse" data-bs-target="#tag-list" aria-expanded="false" aria-controls="tag-list">
                Список тэгов
              </button>
              <div class="collapse" id="tag-list">
                {% render_field form.tag class="px-2 searchable-tag" %}
              </div>
            </div>
            <div class="flex-grow-1 d-flex mt-3 w-165" id="tags-list"></div>
          </div>
      </div>
  </form>
  <div class="tag-list">
  </div>
    <div class="pages-enum main-text">
      <h4 class="main-text">Страницы:</h4>
        {% if page_obj.has_other_pages %}
          <nav class="my-5">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link main-text" href="?page=1">Первая</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Предыдущая
                  </a>
                </li>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="page-item active">
                    <span class="page-link">{{ i }}</span>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.search_query}}{% endif %}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET %}&q={{ request.GET.search_query }}{% endif %}">
                    Следующая
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET %}&q={{ request.GET.search_query }}{% endif %}">
                    Последняя
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
    </div>
    <div class = "content-list">
        <div class="list-of-elements">
            <div class="list-element-container"  id="addition-element">
                <a class="list-element-link" id="addition-element-link" href="{% url addition_link %} ">+{{create_name}}</a>
            </div>
                {% for object in page_obj %}
            <div class="list-element-container">
                {% if processes %}
                <a class="list-element-link" href="{% url link object.pk %}">  Процесс для {{ object.dataset.metadata.name }} </a>
                <div class="status main-text 
                  {% if process.status == '2' %}Успех
                  {% elif process.status == '3' %}Провал
                  {% else %}Ожидание{% endif %}">
                  {{ process.get_status_display }}
                </div>
                <label class="date-of-creation main-text">Создан:{{object.creationTime}}</label>
                <label class="authors main-text">Автор: {{object.dataset.author}}</label>
                <div class="tags-list-in-list-element">
                    <label class="description main-text">Ключи: {{object.dataset.keyValue}}</label>
                </div>
                <div class="tags-list-in-list-element ">Тэги:
                    {% for tag in object.dataset.tag.all %}
                    <label class="main-text deletable-tag tag-element">{{tag.name}}</label>
                    {% endfor %}
                </div>
                {% else %}
                <a class="list-element-link" href="{% url  link  object.pk %} ">{{object.name}}</a>
                <label class="date-of-creation main-text">Создан:{{object.creationData}}</label>
                <label class="authors main-text">Автор: {{object.author}}</label>
                <div class="tags-list-in-list-element">
                    <label class="description main-text">Ключи: {{object.keyValue}}</label>
                </div>
                <div class="tags-list-in-list-element ">Тэги:
                    {% for tag in object.tag.all %}
                    <label class="main-text deletable-tag tag-element">{{tag.name}}</label>
                    {% endfor %}
                </div>
                {% endif %}
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>