{% load widget_tweaks %}

<form class="container-fluid frame-bg frame-pill">
    <div class="container-fluid d-flex flex-column px-2 py-2">

        <div class="container-fluid d-flex justify-content-left my-1">
            <label class="w-25" for="{{metadataForm.name.id_for_label}}">Название исходника: </label>
            {% render_field metadataForm.name class="w-50" %}
        </div>

        <div class="container-fluid d-flex justify-content-left my-1">
            <label class="w-25" for="{{metadataForm.author.id_for_label}}">Автор файла: </label>
            {% render_field metadataForm.author class="w-50" %}
        </div>

        <div class="container-fluid d-flex flex-column my-1">
            <label for="{{metadataForm.keyValue.id_for_label}}">Прочие свойства: </label>
            {% render_field metadataForm.keyValue class="w-100 main-text" %}
        </div>
        
        <div class="container-fluid d-flex flex-column my-1">
            <label for="">Тэги: </label>
            {% render_field metadataForm.tag %}
        </div>
    </div>
</form>