{% load widget_tweaks %}

<form class="container-fluid frame-bg frame-pill">
    <div class="container-fluid d-flex flex-column px-2 py-2">

        <div class="container-fluid d-flex justify-content-left my-1">
            <label class="w-25" for="{{metadataForm.name.id_for_label}}">Название исходника: </label>
            {% render_field metadataForm.name class="w-50 main-text" %}
        </div>

        <div class="container-fluid d-flex justify-content-left my-1">
            <label class="w-25" for="{{metadataForm.author.id_for_label}}">Автор файла: </label>
            {% render_field metadataForm.author class="w-50 main-text" %}
        </div>

        <div class="container-fluid d-flex flex-column my-1">
            <label for="{{metadataForm.keyValue.id_for_label}}">Прочие свойства: </label>
            <div class="pos-rel kv-overflow">
                {% render_field metadataForm.keyValue class="w-100 main-text frame-b" %}
            </div>
        </div>
        
        <div class="container-fluid d-flex flex-column my-1">
            <label for="tag-list">Тэги: </label>
            <div class="container-fluid d-flex justify-content-between">
                <div class="container-fluid pos-rel">
                    <button class="btn btn-main main-text w-100" type="button" data-bs-toggle="collapse" data-bs-target="#tag-list" aria-expanded="false" aria-controls="tag-list">
                        Показать список тэгов
                    </button>
                    <div class="collapse" id="tag-list">
                        {% render_field metadataForm.tag class="px-2" %}
                    </div>
                </div>
                <div class="container-fluid d-flex justify-content-between">
                    <input class="w-60 main-text mx-1" type="text" name="new-tag" id="new-tag" placeholder="Новй тэг">
                    <button class="btn btn-main main-text w-40" type="button">
                        Создать
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>