<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Alas</h3>
    </div>

    <ul class="list-unstyled navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Датасеты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Создать датасет</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Файлы-исходники</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Загрузить файл-исходник</a>
        </li>
    </ul>

</nav>