<nav id="sidebar">
    <div class="sidebar-header my-4 d-flex justify-content-center" id="logo">
        <h3 class="header-text my-4">ALAS</h3>
    </div>
    <ul class="list-unstyled navbar-nav">
        <li class="nav-item active align-center my-2">
            <a class="nav-link main-text" href="{% url 'dataset:datasets-list' %}">Датасеты</a>
        </li>
        <li class="nav-item align-center my-2">
            <a class="nav-link main-text" href="{% url 'dataset:new-source' %}">Создать датасет</a>
        </li>
        <li class="nav-item align-center my-2">
            <a class="nav-link main-text" href="{% url 'source:source-list' %}">Файлы-исходники</a>
        </li>
        <li class="nav-item align-center my-2">
            <a class="nav-link main-text" href="{% url 'processing:new-process' %}">Начать обработку</a>
        </li>
        <li class="nav-item align-center my-2">
            <a class="nav-link main-text" href="{% url 'processing:task-list' %}">Задачи обаботки</a>
        </li>
    </ul>
</nav>